<html>
<head>

<title>Property Search | Miami-Dade County</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../bower_components/bootstrap-sass/dist/css/bootstrap.css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../styles/styles.css">

    <script type="text/javascript">


    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

       
    function init() {
    
        var latitude = getParameterByName("latitude");
        var longitude = getParameterByName("longitude");
        var addressPoint = '{"lat":' +  latitude + ',' + '"lon":' + longitude + '}';

	postwith("http://gisweb.miamidade.gov/MDCPictometry/index.aspx", { 'addressPoint': addressPoint }, "iframeGisMap");


    }


        function postwith(to, d, target) {

            var myForm = document.createElement("form");

            myForm.method = "post";
            myForm.target = target;
            myForm.action = to;

            for (var k in d) {
                var input = document.createElement("input");
                input.setAttribute("id", k);
                input.setAttribute("name", k);
                input.setAttribute("value", d[k]);
                myForm.appendChild(input);
            }


            document.body.appendChild(myForm);

            myForm.submit();

            document.body.removeChild(myForm);

        }


        
    </script>
    
    <style type="text/css">
    .container {width:820px; padding:0 10px; background-color:#fff;}
	.header {
		padding:5px 0;
		border-top:none;
		border-bottom:solid 5px #39599f;
		margin-bottom:10px;
		}
	.pic {margin-bottom:10px;}
    </style>
    
</head>
    
<body>

<div class="container">
<div class="header">
  <img src="../../images/print-banner.jpg" class="img-responsive" alt="Miami-Dade County Property Appraiser">
  <!--<img src="../../images/banner-small-device.png" class="img-responsive visible-xs" alt="Miami-Dade County Property Appraiser">-->
</div>

<div class="pic">
<iframe id="iframeGisMap" name="iframeGisMap" width="800px" height="800px" scrolling="no" style="overflow: hidden; overflow-x: hidden; overflow-y: hidden; border:none;">    
  <p>Your browser does not support iframes.</p>
</iframe>
</div>

</div>

<script>
  init();
</script>

</body>
</html>
