<html>
<head>

<title>Property Search | Miami-Dade County</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="../../bower_components/bootstrap-sass/dist/css/bootstrap.css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../../styles/styles.css">

    <script type="text/javascript">


    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

       
    function init() {
    
        var latitude = getParameterByName("latitude");
        var longitude = getParameterByName("longitude");
        var addressPoint = '{"lat":' +  latitude + ',' + '"lon":' + longitude + '}';

	postwith("http://gisweb.miamidade.gov/MDCPictometry/index.aspx", { 'addressPoint': addressPoint }, "iframeGisMap");


    }


        function postwith(to, d, target) {

            var myForm = document.createElement("form");

            myForm.method = "post";
            myForm.target = target;
            myForm.action = to;

            for (var k in d) {
                var input = document.createElement("input");
                input.setAttribute("id", k);
                input.setAttribute("name", k);
                input.setAttribute("value", d[k]);
                myForm.appendChild(input);
            }


            document.body.appendChild(myForm);

            myForm.submit();

            document.body.removeChild(myForm);

        }


        
    </script>
    
    <style type="text/css">
	.pic {width:800px; margin:0 auto; padding-bottom:15px;}
	.disclaimer {padding-bottom:10px; margin-bottom:-10px;}
    </style>
    
</head>
    
<body>

<div class="container">
<div class="header">
  <img src="../../images/banner.jpg" class="img-responsive hidden-xs" alt="Miami-Dade County Property Appraiser">
  <img src="../../images/banner-small-device.jpg" class="img-responsive visible-xs" alt="Miami-Dade County Property Appraiser">
</div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="site_nav" class="nav navbar-nav">
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/home.asp" target="_blank" class="two_line_fix">Home</a></li>
      <li style="width:16%"><a href="http://www.miamidade.gov/pa/exemptions.asp" target="_blank">Exemptions &amp;<br /> Other Benefits</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/real_estate.asp" target="_blank">Real<br /> Estate</a></li>
      <li style="width:18%"><a href="http://www.miamidade.gov/pa/property_tangible.asp" target="_blank">Tangible<br>Personal Property</a></li>
      <li style="width:9%"><a href="http://www.miamidade.gov/pa/public_records.asp" target="_blank">Public<br /> Records</a></li>
      <li style="width:8.5%"><a href="http://www.miamidade.gov/pa/online_tools.asp" target="_blank">Online<br />Tools</a></li>
      <li style="width:16%"><a href="http://www.miamidade.gov/pa/roll-administration.asp" target="_blank">Tax Roll<br>Administration</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/about_us.asp" target="_blank">About<br> Us</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/contact.asp" target="_blank">Contact<br> Us</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
</div><!-- /.container -->

<div class="container">  

  <div class="content">

<div class="pic">
<iframe id="iframeGisMap" name="iframeGisMap" width="800px" height="800px" scrolling="no" style="overflow: hidden; overflow-x: hidden; overflow-y: hidden; border:none;">    
  <p>Your browser does not support iframes.</p>
</iframe>
</div>


<div class="disclaimer">
        <p>The Office of the Property Appraiser is continually editing and updating the tax roll.  This website may not reflect the most current information on record.  The Property Appraiser and Miami-Dade County assumes no liability, see full disclaimer and User Agreement at <a href="http://www.miamidade.gov/info/disclaimer.asp" target="_blank" tabindex="-1">http://www.miamidad<wbr>e.gov/info/disclaime<wbr>r.asp</a></p>
 <span class="inquiries">For inquiries and suggestions email us at <a href="http://www.miamidade.gov/pa/email/ASP/formNew.asp" target="_blank">http://www.miamidade.gov/pa/email/ASP/formNew.asp</a>.</span>
    </div>

</div>



 <div class="footer_area">
    
    	<div class="row">
        
        <div class="col-md-2 col-sm-4"><h4>Exemptions &amp; Benefits</h4>
        	<ul>
                <li><a href="http://www.miamidade.gov/pa/exemptions_military.asp">Deployed Military</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_disabilities.asp">Disability Exemptions</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_homestead.asp">Homestead</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_institutional.asp">Institutional</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_homestead_senior.asp">Senior Citizens</a></li>
            </ul>
            <span><a href="http://www.miamidade.gov/pa/exemptions.asp">More ></a></span>
        </div>
        
        <div class="col-md-2 col-sm-4"><h4>Real Estate</h4>
        	<ul>
                <li><a href="http://www.miamidade.gov/pa/property_recertification.asp">40 Yr Building <br />Re-Certification</a></li>
                <li><a href="http://www.miamidade.gov/pa/appealing_assessment.asp">Appealing Your Assessment</a></li>
                <li><a href="http://www.miamidade.gov/pa/news_drywall.asp">Defective Drywall</a></li>
                <li><a href="http://www.miamidade.gov/pa/property_folio_numbers.asp">Folio Numbers</a></li>
                <li><a href="http://www.miamidade.gov/pa/mortgage-fraud.asp">Mortgage Fraud</a></li>
            </ul>
            <span><a href="http://www.miamidade.gov/pa/real_estate.asp">More ></a></span>
        </div>

        <div class="col-md-2 col-sm-4"><h4>Tangible Personal Property</h4>
        	<ul>
                <li><a href="http://www.miamidade.gov/pa/appealing_assessment.asp">Appealing your Assessment</a></li>
                <li><a href="http://www.miamidade.gov/pa/business_lookup.asp#/">Assessment Information Search</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_tangible.asp">Exemptions</a></li>
                <li><a href="http://www.miamidade.gov/pa/property_tangible_extension.asp">Extension Requests</a></li>
                <li><a href="http://www.miamidade.gov/pa/exemptions_tangible_filing.asp">Filing Returns</a></li>
            </ul>
            <span><a href="http://www.miamidade.gov/pa/property_tangible.asp">More ></a></span>
        </div>
        
        <hr noshade size="1" class="visible-sm" style="border:1px solid #4d6db4; color:#4d6db4">

        <div class="col-md-2 col-sm-4"><h4>Public Records</h4>
            <ul>
                <li><a href="http://www.miamidade.gov/pa/public_records_address_block.asp">Address Blocking</a></li>
                <li><a href="http://www.miamidade.gov/pa/public_records_name_change.asp">Change of Name</a></li>
                <li><a href="http://www.miamidade.gov/pa/address_change.asp">Change of Address</a></li>
                <li><a href="http://www.miamidade.gov/pa/public_records_ownership.asp">Change of Ownership & Title</a></li>
                <li><a href="http://www.miamidade.gov/pa/public_records_condo.asp">Declaration of Condominium</a></li>
            </ul>
			<span><a href="http://www.miamidade.gov/pa/public_records.asp">More ></a></span>
        </div>

        <div class="col-md-2 col-sm-4"><h4>Online Tools</h4>
            <ul>
                <li><a href="http://www.miamidade.gov/pa/property_search.asp">Property Search</a></li>
                <li><a href="http://www.miamidade.gov/pa/property_sales.asp">Property Sales</a></li>
                <li><a href="http://www.miamidade.gov/pa/tax_estimator/TaxEstimator.asp">Tax Estimator</a></li>
                <li><a href="http://www.miamidade.gov/pa/tax_estimator/TaxComparisonStart.asp">Tax Comparison</a></li>
                <li><a href="https://www.miamidade.gov/PaPortal/AutoOnlineFile/ExemptionOnlineMainMenu.aspx">Homestead Exemption and Portability</a></li>
            </ul>
   			<span><a href="http://www.miamidade.gov/pa/online_tools.asp">More ></a></span>
        </div>

        <div class="col-md-2 col-sm-4"><h4>Tax Roll Administration</h4>
        	<ul>
                <li><a href="http://www.miamidade.gov/pa/appealing_assessment.asp">Appealing your Assessment</a></li>
                <li><a href="http://www.miamidade.gov/pa/reports.asp">Reports</a></li>
            </ul>
            <span><a href="http://www.miamidade.gov/pa/roll-administration.asp">More ></a></span>
        </div>
        
        </div>
    
    </div> 

</div>

<script>
  init();
</script>

</body>
</html>
