<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="2">Additional Information</th>
		</tr>
		<tr ng-repeat="header in property.additionalInfo.headers">
			<td colspan="2">{{header}}</td>
		</tr>
		<tr ng-repeat="info in property.additionalInfo.infoList">
			<td><strong>{{info.key}}:</strong></td>
			<td ng-show="info.isUrl == true">
				<a ng-href="{{info.value}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
			</td>
			<td ng-show="info.isUrl == false">{{info.value}}</td>
		</tr>
		<tr ng-repeat="footer in property.additionalInfo.footers track by $index">
			<td colspan="2">{{footer}}</td>
		</tr>
	</table>
</div>
