<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Assessment Information</th>
		</tr>

		<tr class="header-row">
			<td>Year</td>
			<td class="text-right">{{property.assessmentInfo.assessmentYearCurrent}}</td>
			<td class="text-right">{{property.assessmentInfo.assessmentYearPrior}}</td>
			<td class="text-right">{{property.assessmentInfo.assessmentYearTwoPrior}}</td>
		</tr>

		<tr>
			<td><strong>Land Value</strong></td>
			<td class="text-right">{{property.assessmentInfo.landValueCurrent
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.landValuePrior | noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.landValueTwoPrior
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Building Value</strong></td>
			<td class="text-right">{{property.assessmentInfo.buildingValueCurrent
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.buildingValuePrior
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.buildingValueTwoPrior
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Market Value</strong></td>
			<td class="text-right">{{property.assessmentInfo.totalValueCurrent
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.totalValuePrior
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.totalValueTwoPrior
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Assessed Value</strong></td>
			<td class="text-right">{{property.assessmentInfo.assessedValueCurrent
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.assessedValuePrior
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.assessedValueTwoPrior
			| noCentsCurrency:"$"}}</td>
		</tr>
	</table>
</div>
