<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Assessment Information</th>
		</tr>

		<tr class="header-row">
			<td>Year:</td>
			<td class="text-right" ng-show="property.propertyInfo.showCurrentValuesFlag">{{property.assessmentInfo.assessmentYearCurrent}}</td>
			<td class="text-right">{{property.assessmentInfo.assessmentYearPrior}}</td>
			<td class="text-right">{{property.assessmentInfo.assessmentYearTwoPrior}}</td>
		</tr>

		<tr>
			<td><strong>Land Value:</strong></td>
			<td class="text-right" ng-show="property.propertyInfo.showCurrentValuesFlag">{{property.assessmentInfo.landValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.landValuePrior | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.landValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Building Value:</strong></td>
			<td class="text-right" ng-show="property.propertyInfo.showCurrentValuesFlag">{{property.assessmentInfo.buildingValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.buildingValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.buildingValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Market Value:</strong></td>
			<td class="text-right" ng-show="property.propertyInfo.showCurrentValuesFlag">{{property.assessmentInfo.totalValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.totalValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.totalValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Assessed Value:</strong></td>
			<td class="text-right" ng-show="property.propertyInfo.showCurrentValuesFlag">{{property.assessmentInfo.assessedValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.assessedValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.assessedValueTwoPrior
			| currency:"$"}}</td>
		</tr>
	</table>
</div>
