<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Assessment Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.assessment)">
			<td colspan="4">
                <div class="table-message">
                    <div ng-repeat="message in property.assessment[property.rollYear1].message">{{message}}</div>
                    <div ng-repeat="message in property.assessment[property.rollYear2].message">{{message}}</div>
                    <div ng-repeat="message in property.assessment[property.rollYear3].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Year</td>
			<td class="text-right">{{property.rollYear1}}</td>
			<td class="text-right">{{property.rollYear2}}</td>
			<td class="text-right">{{property.rollYear3}}</td>
		</tr>

		<tr>
			<td><strong>Building Value</strong></td>
			<td class="text-right">{{property.assessment[property.rollYear1].assessmentInfo.buildingOnlyValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear2].assessmentInfo.buildingOnlyValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear3].assessmentInfo.buildingOnlyValue
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Land Value</strong></td>
			<td class="text-right">{{property.assessment[property.rollYear1].assessmentInfo.landValue 
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear2].assessmentInfo.landValue 
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear3].assessmentInfo.landValue
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr class="sum-row">
			<td><strong>XF Value</strong></td>
			<td class="text-right"><span class="double-line">{{property.assessment[property.rollYear1].assessmentInfo.extraFeatureValue
			| noCentsCurrency:"$"}}</span></td>
			<td class="text-right"><span class="double-line">{{property.assessment[property.rollYear2].assessmentInfo.extraFeatureValue
			| noCentsCurrency:"$"}}</span></td>
			<td class="text-right"><span class="double-line">{{property.assessment[property.rollYear3].assessmentInfo.extraFeatureValue
			| noCentsCurrency:"$"}}</span></td>
		</tr>

		<tr>
			<td><strong>Market Value</strong></td>
			<td class="text-right">{{property.assessment[property.rollYear1].assessmentInfo.totalValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear2].assessmentInfo.totalValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear3].assessmentInfo.totalValue
			| noCentsCurrency:"$"}}</td>
		</tr>

		<tr class="row-divider">
			<td><strong>Assessed Value</strong></td>
			<td class="text-right">{{property.assessment[property.rollYear1].assessmentInfo.assessedValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear2].assessmentInfo.assessedValue
			| noCentsCurrency:"$"}}</td>
			<td class="text-right">{{property.assessment[property.rollYear3].assessmentInfo.assessedValue
			| noCentsCurrency:"$"}}</td>
		</tr>
        
        
	</table>
</div>
