<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Benefits Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.assessment)">
			<td colspan="5">
                <div class="table-message">
                    <div ng-repeat="message in property.assessment[property.rollYear1].message">{{message}}</div>
                    <div ng-repeat="message in property.assessment[property.rollYear2].message">{{message}}</div>
                    <div ng-repeat="message in property.assessment[property.rollYear3].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Benefit</td>

			<td>Type</td>
                        <td class="text-right">{{property.rollYear1}}</td>
                        <td class="text-right">{{property.rollYear2}}</td>
                        <td class="text-right">{{property.rollYear3}}</td>

		</tr>

		<tr ng-repeat="benefit in property.benefitsInfo">
			<td><strong>{{benefit.description}}</strong></td>
                        <td>{{benefit.type}}</td>
                        <td class="text-right">{{benefit.values[0] | noCentsCurrency:"$"}}</td>
                        <td class="text-right">{{benefit.values[1] | noCentsCurrency:"$"}}</td>
                        <td class="text-right">{{benefit.values[2] | noCentsCurrency:"$"}}</td>
		</tr>


		<tr>
			<td colspan="5">Note: Not all benefits are applicable to all
				Taxable Values (i.e. County, School Board, City, Regional).</td>
		</tr>
        
	</table>
</div>
