<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Benefits Information</th>
		</tr>
        
        <tr ng-show="true">
			<td colspan="5">
                <div class="table-message">
                    <div ng-repeat="message in property.benefit.messages[property.rollYear1]">{{message}}</div>
                    <div ng-repeat="message in property.benefit.messages[property.rollYear2]">{{message}}</div>
                    <div ng-repeat="message in property.benefit.messages[property.rollYear3]">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Benefit</td>

			<td>Type</td>
                        <td class="text-right">{{property.rollYear1}}</td>
                        <td class="text-right">{{property.rollYear2}}</td>
                        <td class="text-right">{{property.rollYear3}}</td>

		</tr>

		<tr ng-repeat="(benefitType, benefitsByYear) in property.benefit.benefits">
			<td><strong>{{benefitType}}</strong></td>

                        <td>{{benefitsByYear[property.rollYear1].type}}</td>
                        <td class="text-right">{{benefitsByYear[property.rollYear1].value | noCentsCurrency:"$"}}</td>
                        <td class="text-right">{{benefitsByYear[property.rollYear2].value | noCentsCurrency:"$"}}</td>
                        <td class="text-right">{{benefitsByYear[property.rollYear3].value | noCentsCurrency:"$"}}</td>

                </tr>


		<tr>
			<td colspan="5">Note: Not all benefits are applicable to all
				Taxable Values (i.e. County, School Board, City, Regional).</td>
		</tr>
        
	</table>
</div>
