<div class="table-responsive table-oversized">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="9">Building Information</th>
		</tr>

		<tr class="header-row">
			<td>Actual Yr Blt</td>
			<td>Building No</td>
			<td>Sub Area</td>
			<td>Actual Area</td>
			<td>Effective Area</td>
			<td>Adjusted Price</td>
			<td>Replacement Cost New</td>
			<td>% Good</td>
			<td>Depreciated Value</td>
		</tr>

		<tr ng-repeat="building in property.buildingsInfo[property.rollYear1] | orderBy:['actual', 'buildingNo', 'segNo']">
			<td>{{building.actual}}</td>
			<td>{{building.buildingNo}}</td>
			<td>{{building.segNo}}</td>
			<td>{{building.actualArea | number}}</td>
			<td>{{building.effectiveArea | number}}</td>
			<td>{{building.adjustedBasePrice}}</td>
			<td>{{building.replacementCostNew | currency:"$"}}</td>
			<td>{{building.percentageGood}}</td>
			<td>{{building.depreciatedValue}}</td>
		</tr>

	</table>
</div>
