<div class="table-responsive table-oversized">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="7">Building Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.building, property.rollYear2)">
			<td colspan="7">
                <div class="table-message">
                    <div ng-repeat="message in property.building[property.rollYear2].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Year Blt</td>
			<td>Building Nbr</td>
			<td>Sub Area</td>
			<td class="text-right">Actual Area</td>
			<td class="text-right">Effective Area</td>
			<td class="text-right">Adj Rate</td>
			<!-- <td class="text-right">Replacement Cost New</td> -->
			<!-- <td>% Good</td> -->
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="building in
                               property.building[(property.rollYear1)-1].buildingsInfo | orderBy:['actual', 'buildingNo', 'segNo']">
			<td>{{building.actual}}</td>
			<td>{{building.buildingNo}}</td>
			<td>{{building.segNo}}</td>
			<td class="text-right">{{building.actualArea}}</td>
			<td class="text-right">{{building.effectiveArea}}</td>
			<td class="text-right">{{building.adjustedBasePrice}}</td>
			<td class="text-right">{{building.depreciatedValue | noCentsCurrency:"$"}}</td>
		</tr>

	</table>
</div>
