<div class="table-responsive table-oversized">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="8">Building Information <span id="building-help" class="glyphicon glyphicon-info-sign pop-icon" data-toggle="popover" title="Building Description" data-content="The content for this pop-over has not yet been provided by J.N."></span></th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.building, property.rollYear3)">
			<td colspan="8">
                <div class="table-message">
                    <div ng-repeat="message in property.building[property.rollYear3].message">{{message}}</div>
                </div>
            </td>
		</tr>


		<tr class="header-row">
        	  <td class="text-center">Building Number</td>
        	  <td class="text-center">Sub Area</td>
                  <td class="text-center">Year Built</td>
		  <td class="text-right">Actual Sq.Ft.</td>
		  <td class="text-right">Living Sq.Ft.</td>
		  <td class="text-right fixed-width">Adj Sq.Ft.</td>

		  <td class="text-right fixed-width">Calc Value</td>
		</tr>

		<tr ng-repeat="building in property.building[(property.rollYear1)-2].buildingsInfo | orderBy:['buildingNo', 'segNo', '-actual']">
		  <td class="text-center">{{building.buildingNo}}</td>
		  <td class="text-center">{{building.segNo}}</td>
                  <td class="text-center">{{building.actual}}</td>
                  <td class="text-right">{{building.grossArea | number}}</td>
                  <td class="text-right">{{building.heatedArea | number}}</td>
		  <td class="text-right fixed-width">{{building.effectiveArea | number}}</td>

		  <td class="text-right fixed-width">{{building.depreciatedValue | noCentsCurrency :"$"}}</td>
		</tr>


	</table>
</div>
