<div class="table-responsive table-oversized">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="9">Building Information</th>
		</tr>

		<tr class="header-row">
			<td>Actual Yr Blt</td>
			<td>Building No</td>
			<td>Sub Area</td>
			<td class="text-right">Actual Area</td>
			<td class="text-right">Effective Area</td>
			<td class="text-right">Adjusted Price</td>
			<td class="text-right">Replacement Cost New</td>
			<td>% Good</td>
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="building in
                               property.building[(property.rollYear1)-2].buildingsInfo | orderBy:['actual', 'buildingNo', 'segNo']">
			<td>{{building.actual}}</td>
			<td>{{building.buildingNo}}</td>
			<td>{{building.segNo}}</td>
			<td class="text-right">{{building.actualArea | number}}</td>
			<td class="text-right">{{building.effectiveArea | number}}</td>
			<td class="text-right">{{building.adjustedBasePrice}}</td>
			<td class="text-right">{{building.replacementCostNew | currency:"$"}}</td>
			<td>{{building.percentageGood | number:2}}</td>
			<td class="text-right">{{building.depreciatedValue | currency:"$"}}</td>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.building, property.rollYear3)" class="table-message">
			<td colspan="9">
            <div ng-repeat="message in property.building[property.rollYear3].message">{{property.rollYear3}}: {{message}}</div>
            </td>
		</tr>

	</table>
</div>
