<div class="table-responsive table-oversized">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="7">Building Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.building, property.rollYear1)">
			<td colspan="7">
                <div class="table-message">
                    <div ng-repeat="message in property.building[property.rollYear1].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
        
        	<td class="text-center">Building Nbr</td>
        	<td class="text-center">Sub Area</td>
			<td class="text-center">Year Blt</td>
			<td class="text-right">Actual Area</td>
			<td class="text-right">Effective Area</td>
			<td class="text-right">Adj Rate</td>
			<!-- <td class="text-right">Replacement Cost New</td> -->
			<!-- <td>% Good</td> -->
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="building in property.building[property.rollYear1].buildingsInfo | orderBy:['-actual', 'buildingNo', 'segNo']">
			<td class="text-center">{{building.buildingNo}}</td>
			<td class="text-center">{{building.segNo}}</td>
            <td class="text-center">{{building.actual}}</td>
			<td class="text-right">{{building.actualArea}}</td>
			<td class="text-right">{{building.effectiveArea}}</td>
			<td class="text-right">{{building.adjustedBasePrice | currency:"$"}}</td>
			<!-- <td class="text-right">{{building.replacementCostNew | negativeNumber | emptyCurrency:"$"}}</td> -->
			<!-- <td>{{building.percentageGood | negativeNumber:2}}</td> -->
			<td class="text-right">{{building.depreciatedValue | noCentsCurrency :"$"}}</td>
		</tr>
        
	</table>
</div>
