<html>
	<body>
	<p style="text-align:right; padding-top:10px;"><button ng-click="doPrint()">Print</button></p>

		<div >
			<div >
				<h2 style="float:left; margin-bottom:5px;">Matching Results: {{candidatesList.total}}</h2>
				<p style="clear:both; padding:5px 0; border-bottom:1px solid #fff; border-top:1px solid #fff;">Click on the Folio number to view property details.</p>
			</div>

			<div ng-repeat="candidate in candidatesList.candidates">
				
				<span >{{$index + 1}}</span>

				<div ><strong>FOLIO:</strong> {{candidate.folio | folioMask}} {{showFolioStatus(candidate.status)}}
				</div>
				<div ><strong>Sub-Division:</strong> {{candidate.subdivisionDescription}}</div>
				<div ><strong>OWNER:</strong> {{candidate.firstOwner}}</div>
				<div ng-show="candidate.secondOwner"><strong>&nbsp;</strong> {{candidate.secondOwner}}</div>
				<div><strong>ADDRESS:</strong> {{candidate.siteAddress}}</div>
				<div><strong>&nbsp;</strong> {{getRenamedMunicipality(candidate.municipality)}}</div>
						
			</div>

		</div>
		
		<div class="modal fade" id="load-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" loading-widget>
		  <div class="modal-dialog">
			<div class="modal-content">

			  <div class="modal-body">

				<div id="loadingWidget" class="row-fluid ui-corner-all"> <!-- loading-widget > -->
				  <div class="loadingContent">
					<img alt="Loading Content" src="images/ajax-loader.gif" />
				  </div>
				</div>

			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">

			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  </div>

			  <div class="modal-body">
				<div>{{errorMsg}}</div>
			  </div>
			</div>
		  </div>
		</div>

	</body>
</html>