<div class="container">
  <div ng-include="'views/header.html'"></div>
</div>

<div class="container">  

  <div class="content">
  <div style="width:840px; margin:0 auto;">
    <iframe id="iframeComparableSales" name="iframeComparableSales" width="840px" height="870px" scrolling="no" style="overflow: hidden; border: 0;">    
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
  </div>
  
  <div class="content main_content_body">
  	  <div ng-include="'views/disclaimer.html'"></div>
  </div>
  
  
  <div ng-include="'views/footer.html'"></div>

</div>
