<div class="container">
  
  <div ng-include="'views/header.html'"></div>
  
</div><!-- /.container -->

<div class="container">  


  <div class="content">
    

    <div class="search_area">
      
      <div class="text-right hidden-xs social-buttons">
        <a href="https://www.facebook.com/MiamiDadePA" target="_blank"><img src="images/facebook-search.png"></a>
        <a href="https://twitter.com/MiamiDadePA" target="_blank"><img src="images/twitter-search.png"></a>
      </div>
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li ng-class="{active: isActiveSearchTab('Address')}"><a ng-click="setActiveSearchTab('Address')">Address</a></li>
        <li ng-class="{active: isActiveSearchTab('Owner')}"><a ng-click="setActiveSearchTab('Owner')">Owner Name</a></li>
        <li ng-class="{active: isActiveSearchTab('Folio')}"><a ng-click="setActiveSearchTab('Folio')">Folio</a></li>
      </ul>


      
      <div class="row">    

        <div class="col-md-1 col-sm-1 col-xs-12 search-text">
          <h2>Search:</h2>
        </div>




        <div class="col-md-6 col-sm-7 col-xs-12 text-right">


          <!-- Tab panes -->
          <div class="tab-content">

            
            <div class="tab-pane" ng-class="{active: isActiveSearchTab('Address')}" id="address">

              <div class="input-group">
                
                 <input type="text" value="Address" name="" id="search_box" placeholder="Address" class="form-control add-main"
					ng-model='address' ng-click="showError=false" ui-keypress="{13:'getCandidatesByAddress()'}" >
                 <input type="text" value="" name="" id="search_box" placeholder="Suite" class="form-control add-suite" ng-model="suite" ng-click="showError=false" ui-keypress="{13:'getCandidatesByAddress()'}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit" type="button" ng-click="getCandidatesByAddress()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>


            </div>
            
            
            
            <div class="tab-pane" ng-class="{active: isActiveSearchTab('Owner')}" id="owner-name">

              <div class="input-group">
                <input type="text" value="Owner Name" name="" id="search_box" placeholder="Owner Name" class="form-control"
					ng-model='ownerName' ng-click="showError=false" ui-keypress="{13:'getCandidatesByOwner()'}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit" type="button" ng-click="getCandidatesByOwner()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>


            </div>
            
            
            <div class="tab-pane" ng-class="{active: isActiveSearchTab('Folio')}" id="folio">

              <div class="input-group">

                <input type="text" value="Folio" name="" id="search_box" class="form-control" ui-mask='{{folioMask}}' 
					ui-keypress="{13:'getPropertyByFolio()'}" ng-model='folio' ng-click="showError=false" > 
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit" type="button" ng-click="getPropertyByFolio()">

                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>

            </div>

          </div>

        </div>



      </div> <!-- end row -->
      

      
    </div> <!-- /.end search_area-->
	
	<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em; height: 140px; modal:true;" loading-widget >
		<div class="loadingContent">
		  <p>
			<img alt="Loading Content" src="images/ajax-loader.gif" /> Loading
		  </p>
		</div>
	</div>


  </div>

  <!-- <div class="alert alert-danger col-md-10 col-sm-5" ng-show="showError">No data was returned for {{folio}}</div> -->
  
  <div class="content main_content_body">

    <div class="alert alert-danger col-md-12 col-sm-5" ng-show="showError">{{errorMsg}}</div>
    
    <div class="row" ng-show="candidatesList">
      <div class="col-md-12 col-sm-12">
        <div class="property_info tabular_data">
		  <div ng-include="'views/candidates.html'"></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="property_info tabular_data" ng-show="property">
          <div ng-include="'views/propertyinformation.html'"></div>
        </div>
      </div>
      <div class="col-md-8 col-sm-7"> 
        
        <div class="hero-unit map_container">
        
          <div id="map" class="map_area map_absolute" ng-style="mapStyle" ng-class="{map_absolute: property == null}" ng-show="property || joseFlag">
          
          <div class="lc_container">
          
          <span class="map-button mb-zoomin" ng-click="mapZoomIn()"></span>
          <span class="map-button mb-zoomout" ng-click="mapZoomOut()"></span>
          <span class="map-button mb-fullextent"
          ng-click="mapZoomToFullExtent()" ></span>
          <!--
          <span class="map-button mb-zoombox"
          ng-click="mapZoomInBox()"></span>
          -->
          <span class="map-button mb-initial" ng-click="mapZoomToProperty()"></span>
          
          	 <div id="map_lc">
            
                <!-- Arial Year - just need to replace current with year and attach handlers
                <div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">Current</button>
                  <button type="button" class="btn btn-default btn-sm">Current1</button>
                  <button type="button" class="btn btn-default btn-sm">Current2</button>
                </div>
                </div> -->
                
                <!-- Layer List  -->
                <div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle layer-drop" data-toggle="dropdown">Layers <span class="caret"></span></button>
                      <ul class="dropdown-menu keep_open layer-ul" role="menu">
                      	<li><span class="map-view" ng-click="mapToggleAerialOn()">Aerial
                      	Map</span>
                      	&nbsp;|&nbsp; <span class="map-view" ng-click="mapToggleStreetOn()">Street Map</span></li>
                        <li class="divider"></li>
                        <li ng-repeat="layer in layers"><input type="checkbox" ng-model="layer.value" ng-change="turnLayerOnOff(layer)"> {{layer.label}}</li>
                      </ul>
                  </div>
                </div>
                
                <!--<span class="map-view">Street Map | Aerial Map</span>-->
                  
              </div> <!-- end map_lc -->
          
          
          </div>
          
         
              
          </div> <!-- end map_area -->           
        </div>
        
      </div>
    </div>
    
    <div class="other_apps" ng-show="property">
    
    <div class="apps_title">Featured Online Tools</div>
      
      <ul class="row">
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/report-homestead-fraud.png" width="16" height="16" alt="Report Homestead Fraud"> <a href="http://www.miamidade.gov/paportal/HomesteadFraud/HomesteadFraud.aspx" target="_blank">Report Homestead Fraud</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/compare.png" width="16" height="16" alt="Tax Comparison"> <a href="http://www.miamidade.gov/pa/tax_estimator/TaxComparisonStart.asp?Fol={{folio}}" target="_blank">Tax Comparison</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/estimator.png" width="16" height="16" alt="Tax Estimator"> <a href="http://www.miamidade.gov/pa/tax_estimator/TaxEstimator.asp?Fol={{folio}}" target="_blank">Tax Estimator</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/sales.png" width="16" height="16" alt="TRIM Notice"> <a href="http://www.miamidade.gov/paportal/trimpdf/MakeTrim.aspx?FolSrch={{folio}}" target="_blank">TRIM Notice</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/sales.png" width="16" height="16" alt="View Taxes"> <a href="https://www.miamidade.county-taxes.com/public/real_estate/parcels/{{folio}}" target="_blank">View Taxes</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/moreTools.png" width="16" height="16" alt="Additional Online Tools"> <a href="http://www.miamidade.gov/pa/online_tools.asp" target="_blank">Additional Online Tools</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/moreTools.png" width="16" height="16" alt="Comparable Sales"> <a href="http://gisims2.miamidade.gov/Myneighborhood/salesmap.asp" target="_blank">Comparable Sales</a></li>
      </ul>
      
    </div>
    
    <script>

    $(document).ready(function() {
		
		$('body').on('click', function(e){
		
			if($(e.target).hasClass('pop-icon')){		
			var current_popover = $(e.target).attr('id');
				
				if ($(e.target).next('.popover').is(':visible')) {
					$('span.pop-icon').popover('destroy');
				} else {
					$('span.pop-icon').popover('destroy');
					$('#' + current_popover + '').popover('show');
				};
				
			} else {
				$('span.pop-icon').popover('destroy');
			};
		});
		

		placeholderSupport = ("placeholder" in document.createElement("input")); // test placeholder support
		if(!placeholderSupport ){
			
			//initialize placeholders onload for IE - only works if setTimeout function is there
			setTimeout(function(){
				$('.input-group input[type=text]').each(function(){
					$(this).addClass('placeholder').val($(this).attr('placeholder'));
				});
			}, 500);
			
			$(function () {
			$('[placeholder]')
				.focus(function () {
					var input = $(this);
					if (input.val() === input.attr('placeholder')) {
						input.val('').removeClass('placeholder');
					}
				})
				.blur(function () {
					var input = $(this);
					if (input.val() === '' || input.val() === input.attr('placeholder')) {
						input.addClass('placeholder').val(input.attr('placeholder'));
					}
				})
				.blur()
				.parents('form').submit(function () {
					$(this).find('[placeholder]').each(function () {
						var input = $(this);
						if (input.val() === input.attr('placeholder')) {
							input.val('');
						}
					});
				});
			});
	
		};
		
		$('body').on('click', '.dropdown-menu', function(e){
        	$(this).hasClass('keep_open') && e.stopPropagation(); // This replace if conditional.
    	});
		
	});
	
    </script>

    <div class="row tabular_data">
      <div class="col-md-6">
        <div ng-show="property" ng-include="'views/assessmentinformation.html'"></div>
        <div ng-show="property" ng-include="'views/taxablevalueinformation.html'"></div>
      </div>
      <!-- close first column -->

      <div class="col-md-6">
		<div ng-show="property" ng-include="'views/benefitsinformation.html'"></div>
        <div ng-show="property" ng-include="'views/legaldescription.html'"></div>
        <!-- <div ng-show="showFullListOfOwners()" ng-include="'views/ownerinformation.html'"></div> -->
        <!-- <div ng-show="showFullListOfSiteAddresses()" ng-include="'views/siteaddress.html'"></div> -->
        <div ng-show="property" ng-include="'views/additionalinformation.html'"></div>
      </div>

    </div>
    
    
    <!-- sales full row -->
    <div ng-show="property" class="row tabular_data">
      <div class="col-md-12">
      	<div ng-show="property" ng-include="'views/salesinformation.html'"></div>
      </div>
    </div>
    
    
    <div ng-show="property" class="row tabular_data">

      <div class="col-md-12">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
         <li ng-show="isDisplayYearTab(property, property.rollYear1)" ng-class="{active: isActiveRollYearTab(property.rollYear1)}">
			<a ng-click="setActiveRollYearTab(property.rollYear1)">{{property.rollYear1}}</a>
		  </li>
          <li ng-show="isDisplayYearTab(property, property.rollYear2)" ng-class="{active: isActiveRollYearTab(property.rollYear2)}">
			<a ng-click="setActiveRollYearTab(property.rollYear2)">{{property.rollYear2}}</a>
		  </li>
          <li ng-show="isDisplayYearTab(property, property.rollYear3)" ng-class="{active: isActiveRollYearTab(property.rollYear3)}">
			<a ng-click="setActiveRollYearTab(property.rollYear3)">{{property.rollYear3}}</a>
		  </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:15px;">
          <div class="tab-pane" ng-show="isDisplayYearTab(property, property.rollYear1)" ng-class="{active: isActiveRollYearTab(property.rollYear1)}" >
          	<div ng-show="property" ng-include="'views/landinformationcurrent.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationcurrent.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturescurrent.html'"></div>
          </div>
          <div class="tab-pane" ng-show="isDisplayYearTab(property, property.rollYear2)" ng-class="{active: isActiveRollYearTab(property.rollYear2)}" >
          	<div ng-show="property" ng-include="'views/landinformationprior.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationprior.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturesprior.html'"></div>
          </div>
          <div class="tab-pane" ng-show="isDisplayYearTab(property, property.rollYear3)" ng-class="{active: isActiveRollYearTab(property.rollYear3)}" >
          	<div ng-show="property" ng-include="'views/landinformationprior2.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationprior2.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturesprior2.html'"></div>
          </div>
        </div>
        
      </div>

    </div>
    
    <div ng-include="'views/disclaimer.html'"></div>
	
  </div>
  
  <div ng-include="'views/footer.html'"></div>

</div><!-- /.container -->
