<div class="container">
  
  <div ng-include="'views/header.html'"></div>
  
</div><!-- /.container -->

<div class="container">  


  <div class="content">
    

    <div class="search_area">
      
      <div class="text-right hidden-xs social-buttons">
        <a href="https://www.facebook.com/MiamiDadePA" target="_blank"><img src="images/facebook-search.png"></a>
        <a href="https://twitter.com/MiamiDadePA" target="_blank"><img src="images/twitter-search.png"></a>
      </div>
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#folio" data-toggle="tab">Folio</a></li>
        <li><a href="#owner-name" data-toggle="tab">Owner Name</a></li>
        <li><a href="#address" data-toggle="tab">Address</a></li>
      </ul>


      
      <div class="row">    

        <div class="col-md-1 col-sm-1 col-xs-12 search-text">
          <h2>Search:</h2>
        </div>




        <div class="col-md-6 col-sm-7 col-xs-12 text-right">

          <!-- Tab panes -->
          <div class="tab-content">

            <div class="tab-pane active" id="folio">

              <div class="input-group">
                <input type="text" value="Folio" name="" id="search_box"
	               class="form-control" ui-mask='{{folioMask}}' 
	               ng-model='folio' ng-click="showError=false"> <span
						                       class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit"
	                  type="button"
                          ng-click="getPropertyByFolio()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>

            </div>

            <div class="tab-pane" id="owner-name">

              <div class="input-group">
                <input type="text" value="Owner Name" name="" id="search_box" placeholder="Owner Name" class="form-control" ng-model='ownerName' ng-click="showError=false">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit" type="button" ng-click="getCandidatesByOwner()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>


            </div>

            <div class="tab-pane" id="address">

              <div class="input-group">
                <input type="text" value="Address" name="" id="search_box" placeholder="Address" class="form-control" ng-model='address' ng-click="showError=false">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" id="search_submit" type="button" ng-click="getCandidatesByAddress()">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>


            </div>

          </div>

        </div>



      </div> <!-- end row -->
      

      
    </div> <!-- /.end search_area-->

  </div>

  <!-- <div class="alert alert-danger col-md-10 col-sm-5" ng-show="showError">No data was returned for {{folio}}</div> -->
  
  <script>
    $( document ).ready(function() {
    
    $('.map_area').click(function(){ // this click function is just to attach map... not sure how you would connect this
    // make the map the height of the property information
    var prop_info_height = $('.property_info').css('height');
    $('.map_area').css('height', prop_info_height);
    });
    });
  </script>

  <div class="content main_content_body">

    <div class="alert alert-danger col-md-12 col-sm-5" ng-show="showError">{{errorMsg}}</div>

    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="property_info tabular_data">
          <div ng-show="property" ng-include="'views/propertyinformation.html'"></div>
		  <div ng-show="candidatesList" ng-include="'views/candidates.html'"></div>
        </div>
      </div>
      <div class="col-md-8 col-sm-7"> <!-- drop map component in this div-->
        <!--<div ng-show="candidatesList"
        ng-include="'views/ownerinformation.html'"></div>-->
        <!--
        <div ng-show="property" class="map_area">MAP</div>
        -->
        <div ng-show="property" class="hero-unit, map_area">
          <div id="map" class="map_area"></div>
        </div>
        <div ng-show="candidatesList" class="map_area">MAP</div>
      </div>
    </div>
    
    <div class="other_apps" ng-show="property"> 
      
      <ul class="row">
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/report-homestead-fraud.png" width="16" height="16" alt="Report Homestead Fraud"> <a href="http://www.miamidade.gov/paportal/HomesteadFraud/HomesteadFraud.aspx" target="_blank">Report Homestead Fraud</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/compare.png" width="16" height="16" alt="Tax Comparison"> <a href="http://www.miamidade.gov/pa/tax_estimator/TaxComparisonStart.asp?Fol={{folio}}" target="_blank">Tax Comparison</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/estimator.png" width="16" height="16" alt="Tax Estimator"> <a href="http://www.miamidade.gov/pa/tax_estimator/TaxEstimator.asp?Fol={{folio}}" target="_blank">Tax Estimator</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/sales.png" width="16" height="16" alt="TRIM Notice"> <a href="http://www.miamidade.gov/paportal/trimpdf/MakeTrim.aspx?FolSrch={{folio}}" target="_blank">TRIM Notice</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/sales.png" width="16" height="16" alt="View Taxes"> <a href="https://www.miamidade.county-taxes.com/public/real_estate/parcels/{{folio}}" target="_blank">View Taxes</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/moreTools.png" width="16" height="16" alt="Additional Online Tools"> <a href="http://www.miamidade.gov/pa/online_tools.asp" target="_blank">Additional Online Tools</a></li>
        <li class="col-md-3 col-sm-3 col-xs-6"><img src="images/moreTools.png" width="16" height="16" alt="Comparable Sales"> <a href="http://gisims2.miamidade.gov/Myneighborhood/salesmap.asp" target="_blank">Comparable Sales</a></li>
      </ul>
      
    </div>

    <div class="row tabular_data">
      <div class="col-md-6">
        <div ng-show="property" ng-include="'views/siteaddress.html'"></div>
        <div ng-show="property" ng-include="'views/legaldescription.html'"></div>
        <div ng-show="property" ng-include="'views/benefitsinformation.html'"></div>
        <div ng-show="property" ng-include="'views/salesinformation.html'"></div>
      </div>
      <!-- close first column -->

      <div class="col-md-6">
        <div ng-show="property" ng-include="'views/ownerinformation.html'"></div>
        <div ng-show="property" ng-include="'views/assessmentinformation.html'"></div>
        <div ng-show="property" ng-include="'views/taxablevalueinformation.html'"></div>
        <div ng-show="property" ng-include="'views/additionalinformation.html'"></div>

      </div>

    </div>
    
    <div ng-show="property" class="row tabular_data">

      <div class="col-md-12">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#current" data-toggle="tab">Current Year</a></li>
          <li><a href="#prior" data-toggle="tab">Prior Year</a></li>
          <li><a href="#prior-2" data-toggle="tab">Prior Year 2</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:15px;">
          <div class="tab-pane active" id="current">
            <p>Current - message to user here...</p>
  	    <div ng-show="property" ng-include="'views/landinformationcurrent.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturescurrent.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationcurrent.html'"></div>
          </div>
          <div class="tab-pane" id="prior">
            <p>Prior - message to user here...</p>
  	    <div ng-show="property" ng-include="'views/landinformationprior.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturesprior.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationprior.html'"></div>
          </div>
          <div class="tab-pane" id="prior-2">
            <p>Prior 2 - message to user here...</p>
  	    <div ng-show="property" ng-include="'views/landinformationprior2.html'"></div>
            <div ng-show="property" ng-include="'views/extrafeaturesprior2.html'"></div>
            <div ng-show="property" ng-include="'views/buildinginformationprior2.html'"></div>
          </div>
        </div>
        
      </div>

    </div>
    
    <div ng-include="'views/disclaimer.html'"></div>
	
  </div>
  
  <div ng-include="'views/footer.html'"></div>

</div><!-- /.container -->
