<style>
      html, body, .container, #detachmap {
        height: 100%;
        max-width:100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #FFF;
        overflow: hidden;
        font-family: "Trebuchet MS";
      }
</style>
			<div id="detachmap">

				<div class="lc_container">
					<span class="map-button mb-zoomin" ng-click="mapZoomIn()"
						data-toggle="tooltip" data-placement="top"
						title="Zoom in on the map"></span> <span
						class="map-button mb-zoomout" ng-click="mapZoomOut()"
						data-toggle="tooltip" data-placement="top"
						title="Zoom out on the map"></span> <span
						class="map-button mb-zoombox" ng-click="mapActivateZoomInBox()"
						data-toggle="tooltip" data-placement="top"
						title="Zoom map to a drawn area"></span> <span
						class="map-button mb-fullextent" ng-click="mapZoomToFullExtent()"
						data-toggle="tooltip" data-placement="top"
						title="Zoom out to full extent"></span> <span
						class="map-button mb-initial" ng-click="mapZoomToProperty()"
						data-toggle="tooltip" data-placement="top"
						title="Return to property" ng-hide="mapState == 'BigMap'">
					</span>
				</div>
	
				<div class="north-icon">

					<div class="img-container">
						<img src="images/north.png" width="31" height="26" alt="North">
					</div>

					<div id="scale-container">
						<span>2012 Aerial Photography</span>
					</div>

				</div>


			</div>

			<!-- end map_area -->


