    <div class="disclaimer">
        <p>The Office of the Property Appraiser is continually editing and updating the tax roll.  This website may not reflect the most current information on record.  The Property Appraiser and Miami-Dade County assumes no liability, see full disclaimer and User Agreement at <a href="http://www.miamidade.gov/info/disclaimer.asp" target="_blank" tabindex="-1">http://www.miamidad<wbr>e.gov/info/disclaime<wbr>r.asp</a></p>
 <span class="inquiries">For inquiries and suggestions email us at <a href="http://www.miamidade.gov/pa/email/ASP/formNew.asp" target="_blank">http://www.miamidade.gov/pa/email/ASP/formNew.asp</a>.</span>
    </div>
    