<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Extra Features</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.extraFeature, property.rollYear1)">
			<td colspan="5">
                <div class="table-message">
                    <div ng-repeat="message in property.extraFeature[property.rollYear1].message">{{message}}</div>
                </div>
            </td>
		</tr>


		<tr class="header-row">
			<td>Description</td>
			<td>Year Built</td>
			<td class="text-right">Units</td>
			<td class="text-right">Adj Unit Price</td>
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="feature in property.extraFeature[property.rollYear1].extraFeaturesInfo | orderBy:'-actualYearBuilt'">
			<td>{{feature.description}}</td>
			<td>{{feature.actualYearBuilt}}</td>
			<td class="text-right">{{feature.units | negativeNumber}}</td>
			<td class="text-right">{{feature.adjustedUnitPrice | negativeNumber | emptyCurrency:"$"}}</td>
			<td class="text-right">{{feature.depreciatedValue | negativeNumber | emptyCurrency:"$"}}</td>
		</tr>
	</table>
</div>
