<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Extra Features <span id="extra-help" class="glyphicon glyphicon-info-sign pop-icon" data-toggle="popover" title="Extra Features Description" data-content="The content for this pop-over has not yet been provided by J.N."></span></th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.extraFeature, property.rollYear1)">
			<td colspan="5">
                <div class="table-message">
                    <div ng-repeat="message in property.extraFeature[property.rollYear1].message">{{message}}</div>
                </div>
            </td>
		</tr>


		<tr class="header-row">
			<td>Description</td>
			<td class="text-center">Year Built</td>
			<td class="text-right fixed-width">Units</td>

			<td class="text-right fixed-width">Calc Value</td>
		</tr>

		<tr ng-repeat="feature in property.extraFeature[property.rollYear1].extraFeaturesInfo | orderBy:'-actualYearBuilt'">
			<td>{{feature.description}}</td>
			<td class="text-center">{{feature.actualYearBuilt}}</td>

			<td class="text-right fixed-width">{{feature.units | number}}</td>

			<td class="text-right fixed-width">{{feature.depreciatedValue | noCentsCurrency:"$"}}</td>

		</tr>
	</table>
</div>
