<div class="header">
  <img src="images/banner.jpg" class="img-responsive hidden-xs" alt="Miami-Dade County Property Appraiser">
  <img src="images/banner-small-device.png" class="img-responsive visible-xs" alt="Miami-Dade County Property Appraiser">
</div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="site_nav" class="nav navbar-nav">
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/home.asp" target="_blank" class="two_line_fix">Home</a></li>
      <li style="width:16%"><a href="http://www.miamidade.gov/pa/exemptions.asp" target="_blank">Exemptions &amp;<br /> Other Benefits</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/real_estate.asp" target="_blank">Real<br /> Estate</a></li>
      <li style="width:18%"><a href="http://www.miamidade.gov/pa/property_tangible.asp" target="_blank">Tangible<br>Personal Property</a></li>
      <li style="width:9%"><a href="http://www.miamidade.gov/pa/public_records.asp" target="_blank">Public<br /> Records</a></li>
      <li style="width:8.5%"><a href="http://www.miamidade.gov/pa/online_tools.asp" target="_blank">Online<br />Tools</a></li>
      <li style="width:16%"><a href="http://www.miamidade.gov/pa/roll-administration.asp" target="_blank">Tax Roll<br>Administration</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/about_us.asp" target="_blank">About<br> Us</a></li>
      <li style="width:8%"><a href="http://www.miamidade.gov/pa/contact.asp" target="_blank">Contact<br> Us</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
