<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="7">Land Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.land, property.rollYear2)">
			<td colspan="7">
                <div class="table-message">
                    <div ng-repeat="message in property.land[property.rollYear2].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Muni Zone</td>
			<td>PA Zone</td>
			<td>Land Use</td>
			<!-- <td>Use Code</td> -->
			<!-- <td>Total Adj</td> -->
			<td>Unit Type</td>
			<td>Units</td>
			<td class="text-right">Adj Rate</td>
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="land in
                               property.land[(property.rollYear1)-1].landLines">
			<td>{{land.muniZone}}</td>
			<td>{{land.zone}}</td>
			<td>{{land.landUse}}</td>
			<!-- <td>{{land.useCode}}</td> -->
			<!-- <td>{{land.totalAdjustments}}</td> -->
			<td>{{land.unitType}}</td>
			<td>{{land.units | negativeNumber:2}}</td>
			<td class="text-right">{{land.adjustedUnitPrice | currency:"$"}}</td>
			<td class="text-right">{{land.calculatedValue | noCentsCurrency:"$"}}</td>
		</tr>
        
	</table>
</div>
