<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="8">Land Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.land)">
			<td colspan="8">
                <div class="table-message">
                    <div ng-repeat="message in property.land[property.rollYear1].message">{{message}}</div>
                    <div ng-repeat="message in property.land[property.rollYear2].message">{{message}}</div>
                    <div ng-repeat="message in property.land[property.rollYear3].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Muni Zone</td>
			<td>PA Zone</td>
			<td>Land Use</td>
			<td>Use Code</td>
			<td>Total Adj</td>
			<td>Units</td>
			<td class="text-right">Adj Unit Price</td>
			<td class="text-right">Calc Value</td>
		</tr>

		<tr ng-repeat="land in property.land[property.rollYear1].landLines">
			<td>{{land.muniZone}}</td>
			<td>{{land.zone}}</td>
			<td>{{land.landUse}}</td>
			<td>{{land.useCode}}</td>
			<td>{{land.totalAdjustments}}</td>
			<td>{{land.units | number:2}}</td>
			<td class="text-right">{{land.adjustedUnitPrice
			| currency:"$"}}</td>
			<td class="text-right">{{land.calculatedValue
			| currency:"$"}}</td>
		</tr>

	</table>
</div>
