<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="7">Land Information</th>
		</tr>
        
        <tr ng-show="isDisplayMessages(property, property.land, property.rollYear2)">
			<td colspan="7">
                <div class="table-message">
                    <div ng-repeat="message in property.land[property.rollYear2].message">{{message}}</div>
                </div>
            </td>
		</tr>

		<tr class="header-row">
			<td>Land Use</td>
            <td class="text-center">Muni Zone</td>
			<td class="text-center">PA Zone</td>
			<!-- <td>Use Code</td> -->
			<!-- <td>Total Adj</td> -->
			<td class="text-center">Unit Type</td>
			<td class="text-right fixed-width">Units</td>
			<td class="text-right fixed-width">Adj Rate</td>
			<td class="text-right fixed-width">Calc Value</td>
		</tr>

		<tr ng-repeat="land in
                               property.land[(property.rollYear1)-1].landLines">
			<td>{{land.landUse}}</td>
            <td class="text-center">{{land.muniZone}}</td>
			<td class="text-center">{{land.zone}}</td>
			<!-- <td>{{land.useCode}}</td> -->
			<!-- <td>{{land.totalAdjustments}}</td> -->

			<td class="text-center">{{land.unitType}}</td>
			<td class="text-right fixed-width">{{land.units | number:2}}</td>
			<td class="text-right fixed-width">{{land.adjustedUnitPrice | currency:"$"}}</td>
			<td class="text-right fixed-width">{{land.calculatedValue | noCentsCurrency:"$"}}</td>

		</tr>
        
	</table>
</div>
