<div class="table-responsive">

	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader">Full Legal Description <span id="legal-help" class="glyphicon glyphicon-info-sign pop-icon" data-toggle="popover" title="Full Legal Description:" data-content="Details the full legal description of the property."></span></th>
		</tr>
               <!-- <tr ng-repeat="description in property.legalDescription.parsedDescription">
                  <td>{{description}}</td>
                </tr> 
                -->

                <tr>
                  <td class="description-block">
                    <div ng-class="{'legal-overflow' : property.legalDescription.parsedDescription.length > 10}">
                      <span ng-repeat="description in property.legalDescription.parsedDescription track by $index"> {{description}}<br>
                      </span>
                    </div>
                  </td>
                </tr> 
	</table>

</div>
