<div class="table-responsive">

	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader">Full Legal Description <span id="legal-help" class="glyphicon glyphicon-info-sign pop-icon" data-toggle="popover" title="Full Legal Description" data-content="The content for this pop-over has not yet been provided by J.N."></span></th>
		</tr>
                <tr ng-repeat="description in property.legalDescription.parsedDescription">
                  <td>{{description}}</td>
                </tr>  
	</table>

</div>
