<div class="property_info tabular_data">


	<table class="table table-striped" id="property_info">
		<tr>
			<th class="tableHeader" colspan="2">
				Property Information 
				<span id="propinfo-help" class="glyphicon glyphicon-info-sign pop-icon" data-toggle="popover" data-placement="bottom" title="Property Information:" data-html="true" data-content="<p>Ownership, folio number and property characteristics such as zoning and land use, lot size, etc.</p><p><strong>Building Actual Area</strong> -  is the sum total of all measured areas within the subject property.</p>  
  
				<p><strong>Building Livable Area</strong> - for residential properties it represents the space used for habitation purposes.  On commercial properties, where livable is not applicable, this will mirror the Actual Area.</p>

				<p><strong>Building Adjusted Area</strong> - is the Property Appraiser’s office internal unit of measure used for calculating the area’s value.</p>"></span>

                <!--<div class="prop_info_header">Property Information</div>-->
			</th>
		</tr>

		<tr>
			<td colspan="2"><strong style="display:inline">Folio:</strong>
			{{property.propertyInfo.folioNumber | folioMask}} <span style="font-weight:bold">{{showFolioStatus()}}</span></td>
		</tr>
        
        <tr>
			<td colspan="2"><strong>Sub-Division:</strong>
            
            <div>{{property.propertyInfo.subdivisionDescription}}</div></td>
		</tr>

		<tr>
			<td colspan="2" class="pi_mailing_address"><strong>Property Address</strong>
            
                <div ng-class="{'address-overflow' : property.siteAddresses.length > 5}">
                
                    <span ng-repeat="address in property.siteAddresses">
                        <div class="property-add" ng-show="$index < 1">
                            <span ng-show="address.address" ng-class="{'inline':address.address}">{{address.streetNumber}} </span>
                            <span ng-show="address.address" ng-class="{'inline':address.address}">{{address.streetPrefix}} </span>
                            <span ng-show="address.address" ng-class="{'inline':address.address}">{{address.streetName}} </span>
                            <span ng-show="address.address"
                            ng-class="{'inline':address.address}">{{address.streetSuffix}} </span>
                            <span ng-show="address.address" ng-class="{'inline':address.address}">{{address.streetSuffixDirection}} </span>
							<span class="inline">{{address.unit}} </span>
                            <span>{{}} </span>
                            <span class="inline">{{getRenamedMunicipality(address.city)}}</span>
							<span ng-show="address.address" ng-class="{'inline':address.address}">, </span>
							<span ng-show="address.address" ng-class="{'inline':address.address}">FL </span>
                            <span class="inline">{{address.zip}} </span>
                        </div>
                        
                        <span ng-show="$index >= 1">
                            <span class="inline">{{address.streetNumber}} </span>
                            <span class="inline">{{address.streetPrefix}} </span>
                            <span class="inline">{{address.streetName}} </span>
                            <span class="inline">{{address.streetSuffix}} </span>
                            <span class="inline">{{address.unit}} </span>
                        </span>
                    </span>
                    
                </div>
            </td>
		</tr>
<!--		
		<tr>
			<td colspan="2"><strong>Municipality</strong>{{property.propertyInfo.municipality}}</td>
		</tr>
-->
		<tr>
			<td colspan="2"><strong>Owner</strong>
                <div ng-class="{'owner-overflow' : property.ownersInfo.length > 3}">
                    <div ng-repeat="owner in property.ownersInfo">
                        {{owner.name}}
                    </div>
                </div>
			</td>
		</tr>

		<tr>
			<td colspan="2" class="pi_mailing_address"><strong>Mailing Address</strong>
				<div>
                    <span>{{property.mailingAddress.address1}} </span>
                    <span ng-show="property.mailingAddress.address2">{{property.mailingAddress.address2}}</span>
                    <span ng-show="property.mailingAddress.address3">{{property.mailingAddress.address3}}</span>
                    <span class="inline">{{property.mailingAddress.city}}</span>
					<span ng-show="property.mailingAddress.city" ng-class="{'inline':property.mailingAddress.city}">, </span>
                    <span class="inline">{{property.mailingAddress.state}}</span>
                    <span class="inline">{{property.mailingAddress.zipCode}}</span>
                    <span ng-hide="isCountryUSA(property.mailingAddress.country)">{{property.mailingAddress.country}}</span>
                </div>
            </td>
		</tr>

		<tr>
			<td colspan="2"><strong>Primary Zone</strong><div>{{property.propertyInfo.primaryZone}} 
                          {{property.propertyInfo.primaryZoneDescription}}</div></td>
		</tr>

		<tr>
			<td colspan="2"><strong>Primary Land Use</strong><div>{{property.propertyInfo.DORCode}}
			{{property.propertyInfo.DORDescription}}</div></td>
		</tr>

		<tr>
			<td class="prop_info_width"><strong>Beds / Baths / Half</strong></td>

			<td>{{property.propertyInfo.bedroomCount}}
			/ {{property.propertyInfo.bathroomCount}}
			/ {{property.propertyInfo.halfBathroomCount}}</td>
		</tr>

		<tr>
			<td><strong>Floors</strong></td>

			<td>{{property.propertyInfo.floorCount}}</td>
		</tr>

		<tr>
			<td><strong>Living Units</strong></td>

			<td>{{property.propertyInfo.unitCount}}</td>
		</tr>

		<tr>
			<td><strong>Actual Area</strong></td>

			<td>{{property.propertyInfo.buildingGrossArea
			| number}} <span ng-show="property.propertyInfo.buildingGrossArea">Sq.Ft</span></td>
		</tr>

		<tr>
			<td><strong>Living Area</strong></td>

			<td>{{property.propertyInfo.buildingHeatedArea
			| number}} <span ng-show="property.propertyInfo.buildingHeatedArea">Sq.Ft</span></td>
		</tr>

		<tr>
			<td><strong>Adjusted Area</strong></td>

			<td>{{property.propertyInfo.buildingEffectiveArea
			| number}} <span ng-show="property.propertyInfo.buildingEffectiveArea">Sq.Ft</span></td>
		</tr>

		<tr>
			<td><strong>Lot Size</strong></td>

			<td>{{property.propertyInfo.lotSize | number}} Sq.Ft</td>
		</tr>

		<tr>
			<td><strong>Year Built</strong></td>

			<td>{{property.propertyInfo.yearBuilt}}</td>
		</tr>
	</table>

</div>
