<div class="property_info tabular_data">


	<table class="table table-striped" id="property_info">
		<tr>
			<th class="tableHeader" colspan="2">
				<div class="prop_info_header">Property Information</div>
			</th>
		</tr>

		<tr>
			<td width="50%"><strong>Folio</strong></td>
			<td>{{property.propertyInfo.folioNumber}}</td>
		</tr>

		<tr>
			<td><strong>Property Address</strong></td>
			<td>
                            <div ng-repeat="address
                                           in
                                           property.siteAddresses">
                              {{address.address}}
                            </div>
                        </td>
		</tr>

		<tr>
			<td><strong>Owner</strong></td>
			<td>
                            <div ng-repeat="owner
                                           in
                                           property.ownersInfo">
                              {{owner.name}}
                            </div>
                        </td>
		</tr>

		<tr>
			<td><strong>Mailing Address</strong></td>

			<td>{{property.mailingAddress.address1}}
			{{property.mailingAddress.address2}}
			{{property.mailingAddress.city}}
			{{property.mailingAddress.zipCode}}
			{{property.mailingAddress.state}}
			{{property.mailingAddress.country}}
                        </td>
		</tr>

		<tr>
			<td><strong>Primary Zone</strong></td>

			<td>{{property.propertyInfo.primaryZone}} 
                          {{property.propertyInfo.primaryZoneDescription}}</td>
		</tr>

		<tr>
			<td><strong>Land Use</strong></td>

			<td>{{property.propertyInfo.DORCodeCurrent}}
			{{property.propertyInfo.DORDescription}}</td>
		</tr>

		<tr>
			<td><strong>Beds/Bath/Half</strong></td>

			<td>{{property.propertyInfo.bedroomCount}}
			/ {{property.propertyInfo.bathroomCount}}
			/ {{property.propertyInfo.halfBathroomCount}}</td>
		</tr>

		<tr>
			<td><strong>Floors</strong></td>

			<td>{{property.propertyInfo.floorCount}}</td>
		</tr>

		<tr>
			<td><strong>Living Units</strong></td>

			<td>{{property.propertyInfo.unitCount}}</td>
		</tr>

		<tr>
			<td><strong>Adjusted Sq. Footage</strong></td>

			<td>{{property.propertyInfo.buildingEffectiveArea}}</td>
		</tr>

		<tr>
			<td><strong>Lot Size</strong></td>

			<td>{{property.propertyInfo.lotSize}} SQ FT</td>
		</tr>

		<tr>
			<td><strong>Year Built</strong></td>

			<td>{{property.propertyInfo.yearBuilt}}</td>
		</tr>
	</table>

</div>
