<div class="property_info tabular_data">


	<table class="table table-striped" id="property_info">
		<tr>
			<th class="tableHeader" colspan="2">
				Property Information
                <!--<div class="prop_info_header">Property Information</div>-->
			</th>
		</tr>

		<tr>
			<td colspan="2"><strong style="display:inline">Folio:</strong> {{property.propertyInfo.folioNumber}}</td>
		</tr>

		<tr>
			<td colspan="2" class="pi_mailing_address"><strong>Property Address</strong>
            
                <div class="address-overflow"> <!-- add class "address-overflow" to this div only if > 5 addresses -->
                
                    <span ng-repeat="address in property.siteAddresses">
                        <div class="property-add" ng-show="$index < 1">
                            <span class="inline">{{address.streetNumber}}</span>
                            <span class="inline">{{address.streetPrefix}}</span>
                            <span class="inline">{{address.streetName}}</span>
                            <span class="inline">{{address.streetSuffix}}</span>
                            <span>{{}}</span>
                            <span class="inline">{{getRenamedMunicipality(address.city)}}, </span>
                            <span class="inline">FL</span>
                            <span class="inline">{{address.zip}}</span>
                        </div>
                        
                        <span ng-show="$index >= 1">
                            <span class="inline">{{address.streetNumber}}</span>
                            <span class="inline">{{address.streetPrefix}}</span>
                            <span class="inline">{{address.streetName}}</span>
                            <span class="inline">{{address.streetSuffix}}</span>
                            <span class="inline">{{address.unit}}</span>
                        </span>
                    </span>
                    
                </div>
				<!-- <div ng-show="property.siteAddresses.length > 1 ">see full list below</div> -->
            </td>
		</tr>
<!--		
		<tr>
			<td colspan="2"><strong>Municipality</strong>{{property.propertyInfo.municipality}}</td>
		</tr>
-->
		<tr>
			<td colspan="2"><strong>Owner</strong>
                <div class="owner-overflow"> <!-- add "owner-overflow" class to this div when more than 5 owners -->
                    <div ng-repeat="owner in property.ownersInfo">
                        {{owner.name}}
                        <!-- <span ng-show="$index < 2">{{owner.name}}</span> -->
                    </div>
                </div>
				<!-- <div ng-show="property.ownersInfo.length > 2 ">see full list below</div> -->
			</td>
		</tr>

		<tr>
			<td colspan="2" class="pi_mailing_address"><strong>Mailing Address</strong>
				<div>
                    <span>{{property.mailingAddress.address1}}</span>
                    <span ng-show="property.mailingAddress.address2">{{property.mailingAddress.address2}}</span>
                    <span ng-show="property.mailingAddress.address3">{{property.mailingAddress.address3}}</span>
                    <span class="inline">{{property.mailingAddress.city}}, </span>
                    <span class="inline">{{property.mailingAddress.state}}</span>
                    <span class="inline">{{property.mailingAddress.zipCode}}</span>
                    <span ng-hide="isCountryUSA(property.mailingAddress.country)">{{property.mailingAddress.country}}</span>
                </div>
            </td>
		</tr>

		<tr>
			<td colspan="2"><strong>Primary Zone</strong><div>{{property.propertyInfo.primaryZone}} 
                          {{property.propertyInfo.primaryZoneDescription}}</div></td>
		</tr>

		<tr>
			<td colspan="2"><strong>Land Use</strong><div>{{property.propertyInfo.DORCodeCurrent}}
			{{property.propertyInfo.DORDescription}}</div></td>
		</tr>

		<tr>
			<td width="50%"><strong>Beds / Baths / Half</strong></td>

			<td>{{property.propertyInfo.bedroomCount}}
			/ {{property.propertyInfo.bathroomCount}}
			/ {{property.propertyInfo.halfBathroomCount}}</td>
		</tr>

		<tr>
			<td><strong>Floors</strong></td>

			<td>{{property.propertyInfo.floorCount}}</td>
		</tr>

		<tr>
			<td><strong>Living Units</strong></td>

			<td>{{property.propertyInfo.unitCount}}</td>
		</tr>

		<tr>
			<td><strong>Adjusted Sq. Footage</strong></td>

			<td>{{property.propertyInfo.buildingEffectiveArea | number}}</td>
		</tr>

		<tr>
			<td><strong>Lot Size</strong></td>

			<td>{{property.propertyInfo.lotSize | number}} SQ FT</td>
		</tr>

		<tr>
			<td><strong>Year Built</strong></td>

			<td>{{property.propertyInfo.yearBuilt}}</td>
		</tr>
	</table>

</div>
