<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="{{salesInfoColumnCount()}}">Sales Information</th>
		</tr>

		<tr class="header-row">
			<td>Previous Sale</td>
			<td class="text-right">Price</td>
			<td>OR Book-Page</td>
			<td class="text-center">Qualification Description</td>
            <td ng-show="salesInfoGrantorName1">Previous Owner 1</td>
            <td ng-show="salesInfoGrantorName2">Previous Owner 2</td>
		</tr>

                <tr ng-repeat="sale in property.salesInfo | orderBy:'-dateOfSale'">
                  <td>{{sale.dateOfSale | date:'MM/dd/yyyy' }}</td>
                  <td class="text-right">{{sale.salePrice | noCentsCurrency:"$"}}</td>
                  <td><a href="http://www2.miami-dadeclerk.com/Public-Records/Search.aspx?search=3&amp;Rec_Book={{sale.officialRecordBook}}&amp;Rec_Page={{sale.officialRecordPage}}" 
					target="_blank">{{sale.officialRecordBook}}-{{sale.officialRecordPage}}  <span class=
                        "glyphicon glyphicon-new-window"></span></a></td>
                  <td>{{sale.qualificationDescription}}</td>
                  <td ng-show="salesInfoGrantorName1">{{sale.grantorName1}}</td>
                  <td ng-show="salesInfoGrantorName2">{{sale.grantorName2}}</td>
                </tr>

		<tr>
			<td colspan="{{salesInfoColumnCount()}}">For more information about the
				<a
				href="http://dor.myflorida.com/dor/property/rp/dataformats/pdf/salequalcodes12.pdf"
				target="_blank">Department of Revenue's Sales Qualification Codes</a>.
			</td>
		</tr>
	</table>
</div>
