<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="6">Sales Information</th>
		</tr>

		<tr class="header-row">
			<td>Previous Sale</td>
			<td class="text-right">Price</td>
			<td>OR Book-Page</td>
                        <td>Previous Owner 1</td>
                        <td>Previous Owner 2</td>
			<td>Qualification Description</td>
		</tr>

                <tr ng-repeat="sale in property.salesInfo | orderBy:'-dateOfSale'">
                  <td>{{sale.dateOfSale | date:'MM/dd/yyyy' }}</td>
                  <td class="text-right">{{sale.salePrice | noCentsCurrency:"$"}}</td>
                  <td><a href="#" target="_blank">{{sale.officialRecordBook}}-{{sale.officialRecordPage}}  <span class=
                        "glyphicon glyphicon-new-window"></span></a></td>
                  <td>{{sale.grantorName1}}</td>
                  <td>{{sale.grantorName2}}</td>
                  <td></td>
                </tr>

		<tr>
			<td colspan="6">For more information about the
				<a
				href="http://dor.myflorida.com/dor/property/rp/dataformats/pdf/salequalcodes12.pdf"
				target="_blank">Department of Revenue's Sales Qualification Codes</a>.
			</td>
		</tr>
	</table>
</div>
