<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Addresses</th>
		</tr>

		<tr class="header-row">
			<td>Address</td>
			<td>Unit</td>
			<td>City</td>
			<td>Zip</td>
			<td>Building</td>
		</tr>

		<tr ng-repeat="site in property.siteAddresses">
			<td>{{site.streetNumber}} {{site.streetPrefix}} {{site.streetName}} {{site.streetSuffix}} {{site.streetSuffixDirection}}</td>
			<td>{{site.unit}}</td>
			<td>{{site.city}}</td>
			<td>{{site.zip}}</td>
			<td>{{site.buildingNumber}}</td>
		</tr>

	</table>
</div>
