<div class="table-responsive">
	<table class="table table-condensed">
		<tr>
			<th class="tableHeader" colspan="4">Taxable Value Information</th>
		</tr>

		<tr class="header-row taxable">
			<td>&nbsp;</td>

			<td class="text-right">{{property.assessmentInfo.assessmentYearCurrent}}</td>

			<td class="text-right">{{property.assessmentInfo.assessmentYearPrior}}</td>

			<td class="text-right">{{property.assessmentInfo.assessmentYearTwoPrior}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">County</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exempt amt:</td>

			<td class="text-right">{{property.assessmentInfo.countyExemptionValueCurrent
                          | currency:"$"}} 

			<td class="text-right">{{property.assessmentInfo.countyExemptionValuePrior
                          | currency:"$"}} 
                          </td>
			<td class="text-right">{{property.assessmentInfo.countyExemptionValueTwoPrior
                          | currency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value:</td>

			<td class="text-right">
                          {{property.assessmentInfo.countyTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.countyTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.countyTaxableValueTwoPrior
                          | currency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">School Board</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exempt amt:</td>

			<td class="text-right">{{property.assessmentInfo.schoolExemptionValueCurrent
                          | currency:"$"}} 

			<td class="text-right">{{property.assessmentInfo.schoolExemptionValuePrior
                          | currency:"$"}} 
                          </td>
			<td class="text-right">{{property.assessmentInfo.schoolExemptionValueTwoPrior
                          | currency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value:</td>

			<td class="text-right">
                          {{property.assessmentInfo.schoolTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.schoolTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.schoolTaxableValueTwoPrior
                          | currency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">City</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exempt amt:</td>

			<td class="text-right">{{property.assessmentInfo.cityExemptionValueCurrent
                          | currency:"$"}} 

			<td class="text-right">{{property.assessmentInfo.cityExemptionValuePrior
                          | currency:"$"}} 
                          </td>
			<td class="text-right">{{property.assessmentInfo.cityExemptionValueTwoPrior
                          | currency:"$"}} 
                          </td>
		</tr>
                <tr>
			<td class="table-section-head">Tax Value:</td>

			<td class="text-right">
                          {{property.assessmentInfo.cityTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.cityTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.cityTaxableValueTwoPrior
                          | currency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">Regional</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exempt amt:</td>

			<td class="text-right">{{property.assessmentInfo.regionalExemptionValueCurrent
                          | currency:"$"}} 

			<td class="text-right">{{property.assessmentInfo.regionalExemptionValuePrior
                          | currency:"$"}} 
                          </td>
			<td class="text-right">{{property.assessmentInfo.regionalExemptionValueTwoPrior
                          | currency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value:</td>

			<td class="text-right">
                          {{property.assessmentInfo.regionalTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.regionalTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">
                          {{property.assessmentInfo.regionalTaxableValueTwoPrior
                          | currency:"$"}}</td>
		</tr>


	</table>
</div>
