<div class="table-responsive">
	<table class="table table-condensed">
		<tr>
			<th class="tableHeader" colspan="4">Taxable Value Information</th>
		</tr>

		<tr class="header-row taxable">
			<td>&nbsp;</td>

			<td class="text-right">{{property.rollYear1}}</td>

			<td class="text-right">{{property.rollYear1}}</td>

			<td class="text-right">{{property.rollYear1}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">County</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exemption Value</td>

			<td class="text-right">{{property.taxable[property.rollYear1].taxableInfo.countyExemptionValue
                          | noCentsCurrency:"$"}} 

			<td class="text-right">{{property.taxable[property.rollYear2].taxableInfo.countyExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
			<td class="text-right">{{property.taxable[property.rollYear3].taxableInfo.countyExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value</td>

			<td class="text-right">
                          {{property.taxable[property.rollYear1].taxableInfo.countyTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear2].taxableInfo.countyTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear3].taxableInfo.countyTaxableValue
                          | noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">School Board</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exemption Value</td>

			<td class="text-right">{{property.taxable[property.rollYear1].taxableInfo.schoolExemptionValue
                          | noCentsCurrency:"$"}} 

			<td class="text-right">{{property.taxable[property.rollYear2].taxableInfo.schoolExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
			<td class="text-right">{{property.taxable[property.rollYear3].taxableInfo.schoolExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value</td>

			<td class="text-right">
                          {{property.taxable[property.rollYear1].taxableInfo.schoolTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear2].taxableInfo.schoolTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear3].taxableInfo.schoolTaxableValue
                          | noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">City</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exemption Value</td>

			<td class="text-right">{{property.taxable[property.rollYear1].taxableInfo.cityExemptionValue
                          | noCentsCurrency:"$"}} 

			<td class="text-right">{{property.taxable[property.rollYear2].taxableInfo.cityExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
			<td class="text-right">{{property.taxable[property.rollYear3].taxableInfo.cityExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
		</tr>
                <tr>
			<td class="table-section-head">Tax Value</td>

			<td class="text-right">
                          {{property.taxable[property.rollYear1].taxableInfo.cityTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear2].taxableInfo.cityTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear3].taxableInfo.cityTaxableValue
                          | noCentsCurrency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="4" class="table-section">Regional</td>
        </tr>
        <tr class="border-bottom">
			<td class="table-section-head">Exemption Value</td>

			<td class="text-right">{{property.taxable[property.rollYear1].taxableInfo.regionalExemptionValue
                          | noCentsCurrency:"$"}} 

			<td class="text-right">{{property.taxable[property.rollYear2].taxableInfo.regionalExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
			<td class="text-right">{{property.taxable[property.rollYear3].taxableInfo.regionalExemptionValue
                          | noCentsCurrency:"$"}} 
                          </td>
		</tr>
        <tr>
			<td class="table-section-head">Tax Value</td>

			<td class="text-right">
                          {{property.taxable[property.rollYear1].taxableInfo.regionalTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear2].taxableInfo.regionalTaxableValue
                          | noCentsCurrency:"$"}}</td>
			<td class="text-right">
                          {{property.taxable[property.rollYear3].taxableInfo.regionalTaxableValue
                          | noCentsCurrency:"$"}}</td>
		</tr>


	</table>
</div>
