<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Taxable Value Information</th>
		</tr>

		<tr class="header-row taxable">
			<td>&nbsp;</td>

			<td class="text-right">Exemption/<br> Taxable Value
			</td>

			<td class="text-right">Exemption/<br> Taxable Value
			</td>

			<td class="text-right">Exemption/<br> Taxable Value
			</td>
		</tr>

		<tr>
			<td><strong>County:</strong></td>

			<td class="text-right">{{property.assessmentInfo.countyExemptionValueCurrent
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.countyTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.countyExemptionValuePrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.countyTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.countyExemptionValueTwoPrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.countyTaxableValueTwoPrior
                          | currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>School Board:</strong></td>
			<td class="text-right">{{property.assessmentInfo.schoolExemptionValueCurrent
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.schoolTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.schoolExemptionValuePrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.schoolTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.schoolExemptionValueTwoPrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.schoolTaxableValueTwoPrior
                          | currency:"$"}}</td>

		</tr>

		<tr>
			<td><strong>City:</strong></td>
			<td class="text-right">{{property.assessmentInfo.cityExemptionValueCurrent
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.cityTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.cityExemptionValuePrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.cityTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.cityExemptionValueTwoPrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.cityTaxableValueTwoPrior
                          | currency:"$"}}</td>

		</tr>

		<tr>
			<td><strong>Regional:</strong></td>
			<td class="text-right">{{property.assessmentInfo.regionalExemptionValueCurrent
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.regionalTaxableValueCurrent
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.regionalExemptionValuePrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.regionalTaxableValuePrior
                          | currency:"$"}}</td>
			<td class="text-right">{{property.assessmentInfo.regionalExemptionValueTwoPrior
                          | currency:"$"}} 
                          /
                          {{property.assessmentInfo.regionalTaxableValueTwoPrior
                          | currency:"$"}}</td>

		</tr>
	</table>
</div>
